
$breakpoints: (
        'xs': 321,
        'sm': 768,
        'md': 992,
        'lg': 1200,
) !default;

@mixin bp($brp: null) {
  @if map-has-key($breakpoints, $brp) {
    @if ($breakpoints == 'xs') {
      $bp: map-get($breakpoints, $brp);
      @media (max-width: #{$bp}px) {
        @content;
      }
    } @else {
      $bp: map-get($breakpoints, $brp);
      @media (min-width: #{$bp}px) {
        @content;
      }
    }
  } @else {
    @media (min-width: #{$breakpoints}px) {
      @content;
    }
  }
}

